@import 'global/global';
@import 'partials/partials';
@import 'views/views';

* {
  @include useRoboto;
}

body {
  background: $offwhite;
}

h1 {
  font-size: 2em;
  margin: 10px;
}

h2 {
  font-size: 1.3em;
  margin: 5px;
}

#main-content-container {
  position:relative;
}