#notify-list-view-container {
  position: absolute;
  top: 0px;
  right: 0;
  overflow: auto;
  height: 100%;
  width: 30%;
  background-color: rgba(#2e2e2e, 0.3);
}

#notify-map-view-container {
  width: 100%;
  height: calc(100% - 50px);
  height: 100%;
}

#search-input {
  padding-left: 20px;
  button {
    display: inline-block;
  }
}

.notification {
  background-color: white;
  box-shadow: 0px 2px 2px rgba(100, 100, 100, .5);
  margin: 10px 10px;
  padding: 10px;
  cursor: pointer;
  opacity: 1;
  max-height: 300px;
  transition: max-height 0.5s, opacity 0.7s;
  min-height: 120px;

  &:hover {
    @include depth-2;
  }

  .user-name {
    font-size: 1.2em;
  }

  .user-phone {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .field-name {
    display: inline-block;
    min-width: 50px;
    color: #252525;
    font-size: 0.8em;
  }



  .user-photo {
    max-width: 120px;
    max-height: 120px;
    border-radius: 120px;
    float: right;
  }

  &.selected {
    background-color: $blue;
    color: white;
  }

  &.removed {
    max-height: 0;
    opacity: 0;
  }
}

