{{#if canInspectActive}}
    <div>
<input type="checkbox" id="show-active-notifications"/>
<label for="show-active-notifications">Show Active Notifications</label>
    </div>
{{else}}
    <div></div>
{{/if}}