<div id="login-view">
    <form action="">
        <label class="hidden" for="netid">NetID:</label><input type="text" id="netid" name="netid" placeholder="NetID"/>
        <br>
        <label class="hidden" for="password">Password</label><input type="password" id="password" name="password" placeholder="Password"/>
        <button type="submit">Login</button>
    </form>
</div>