<form id="search-input" action="">
    <input type="search" placeholder="Phone Number" list="notification-search-partial"/> <button>Search</button>
    <datalist id="notification-search-partial">
    </datalist>
</form>